<div class="container">

  <br>
  <div>
    <h1>
      Add new task 
    </h1>

  </div>
  <br>
  <div class="container" *ngIf="taskFormGroup">
    <form [formGroup]="taskFormGroup">
      <div class="form-group">
        <label>Task Name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label>To-Do Date and Time</label>
        <input type="text" class="form-control" formControlName="toDoDateTime">
      </div>
      <button class="btn btn-info mr-2" (click)="backtoTaskPage()">Back</button>
      <button class="btn btn-success ml-2" (click)="onSaveTask()">Save</button>
    </form>
  </div>

</div>